#nav-bar {
  position: fixed;
  background-color: #FAD2C6;
  height: 20px;
  display: inline-block;
  top: 0px;
  left: 0px;
  font-size: 20px;
  color: #C2C7A7;
  padding: 30px;
  width: 100vw;
  font-weight: 600;
  font-family: Verdana;
  box-shadow: 0px 0px 10px #999999;
  z-index: 3;
}

#content {
  top: 80px;
  position: absolute;
  display: block;
  left: 0px;
  color: #DDBB8E;
  width: 70vw;
  /*box-shadow: 0px 0px 5px #999999;*/
  z-index: 2;
  background-color: #EEE3C3; /* http://www.colourlovers.com/palette/4306759/I_Read_your_mind */
}

#sidebar {
  top: 80px;
  display: block;
  right: 0px;
  position: fixed;
  width: 30vw;
  background-color: #E1DECB;
  z-index: 1;
}
