#nav-bar {
  position: fixed;
  background-color: pink;
  height: 100px;
  width: 100%;
  display: block;
  top: 0px;
  float: left;
  font-size: 20px;
  color: white;
  padding: 30px;
  font-weight: 600;
  font-family: Verdana;
}
